* { box-sizing: border-box; }
html { font-size: 62.5%; }

body {
  min-height: 100%;

  margin: 0;
  padding: 0;

  font-size: 2rem;
  font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.6em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 500px) {
    font-size: 1.6rem;
  }
}

main {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  overflow: scroll;
}
