@import 'style/reset';
@import 'style/fonts';
@import 'style/helpers';
@import 'style/devices';

:root {
  --background: #F0F0F0;

  --font-family: sans-serif;
  --font-size: 1.8rem;
  --line-height: 1.4;
}

@import 'style/base';

body[data-env='test'] {
  --background: #333;
  color: white;
}
